<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="android.example.com.broadcastbattery">
<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
<uses-permission android:name="android.permission.BATTERY_STATS"/>
<application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">
    <activity android:name=".MainActivity_Battery">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <receiver android:name="MyReceiver">
        <intent-filter>
            <action android:name="MY_INTENT_RAMON">
            </action>
        </intent-filter>
    </receiver>
    <receiver android:name=".MyButtonReceiver">
        <intent-filter>
            <action android:name="MY_INTENT_DANIEL">
            </action>
        </intent-filter>
    </receiver>

    <receiver android:name="MyPhoneReceiver">
        <intent-filter>
            <action android:name="android.intent.action.PHONE_STATE">
            </action>
        </intent-filter>
    </receiver>
    <receiver android:name=".ReceiverBattery">
        <intent-filter>
            <action android:name="android.intent.action.BATTERY_LOW"/>
            <action android:name="android.intent.action.BATTERY_CHANGED"/>
            <action android:name="android.intent.action.ACTION_BATTERY_OKAY"/>
            <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
        </intent-filter>
    </receiver>

    <service android:name=".MyService" android:process=":background">

    </service>
</application>
    <uses-permission android:name="android.permission.BATTERY_STATS"></uses-permission>
</manifest>